{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новостная лента</h1>

    <h3>{% current_time '%b %d %Y' %}</h3>
    <h3> {{ next_news|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>

    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Автор</td>
                <td>Тип</td>
                <td>Дата написания</td>
                <td>Категория</td>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Рейтинг</td>
            </tr>

            {% for news in news %}

                <td>{{ news.author }}</td>
                <td>{{ news.post_type }}</td>
                <td>{{ news.created }}</td>
                <td>{{ news.category }}</td>
                <td>{{ news.title|censor }}</td>
                <td>{{ news.text|truncatewords:20|censor }}</td>
                <td>{{ news.rating }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}

